@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<!DOCTYPE html>
<html>

<body class="full-intro background--dark">

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Intro Section -->
        <section class="inner-intro bg-img19 light-color overlay-dark parallax parallax-background2">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">About Us</h2>
                    <div class="page-breadcrumb">
                        <a>Home</a>/<span>About</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- Intro Section -->
        <!-- CONTENT -->

        <!-- About Section -->
        <div id="about-section" class="pt-80 pt-xs-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-8">
                        <div class="block-title v-line">
                            <h2><span>Our</span> MISSION</h2>
                            <p class="italic">Aenean suscipit eget mi act </p>
                        </div>
                        <div class="text-content">
                            <p>
                                Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt.
              Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt.
                            </p>
                        </div>
                        <hr class="divider">
                        <div class="post-content">
                            <div class="post-img">
                                <img class="img-responsive" src="../../assets/images/blog.jpg" alt="Photo">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="dark-bg our-vision light-color padding-40">
                            <div class="block-title">
                                <h2><span>Our</span> VISION</h2>
                                <p class="italic">Aenean suscipit eget mi act </p>
                            </div>
                            <p>
                                Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt.
              Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Section End-->
        <!-- Story Section -->
        <div id="story-section" class="ptb ptb-xs-60 gray-bg">
            <div class="container">
                <div class="row ">
                    <div class="col-md-12 col-lg-12">
                        <div class="block-title v-line mb-35">
                            <h2><span>Our</span> JOURNEY</h2>
                            <p class="italic">Aenean suscipit eget mi act </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="ui-timline-container">
                            <div class="ui-timeline">
                                <div class="tl-item">
                                    <div class="tl-body">
                                        <div class="tl-entry">
                                            <div class="tl-caption"><a href="javascript:;" class="btn btn-primary btn-block">JOURNEY</a> </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tl-item">
                                    <div class="tl-body">
                                        <div class="tl-entry">
                                            <div class="tl-time">2013 </div>
                                            <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-info"><i class="fa fa-asterisk"></i></div>
                                            <div class="tl-content">
                                                <h4 class="tl-tile text-primary">Go hiking</h4>
                                                <p>Consectetur adipisicing elit. Error, accusantium debitis voluptatem dolore excepturi ducimus fugiat nulla perspiciatis quo ipsum non eligendi nisi veniam maxime in quas atque omnis cumque! </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tl-item alt">
                                    <div class="tl-body">
                                        <div class="tl-entry">
                                            <div class="tl-time">2014 </div>
                                            <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-warning"><i class="fa fa-shopping-cart"></i></div>
                                            <div class="tl-content">
                                                <h4 class="tl-tile text-danger">Buy some toys</h4>
                                                <p>Ullam, commodi, modi, impedit nostrum odio sit odit necessitatibus accusantium enim voluptates culpa cupiditate cum pariatur a recusandae tenetur aspernatur at beatae. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tl-item">
                                    <div class="tl-body">
                                        <div class="tl-entry">
                                            <div class="tl-time">2015 </div>
                                            <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-success"><i class="fa fa-camera"></i></div>
                                            <div class="tl-content">
                                                <h4 class="tl-tile text-warning">Soluta nihil</h4>
                                                <p>Incidunt, molestias odio soluta nihil accusantium sit nostrum doloremque. Recusandae, ullam, odio consequatur facere totam reiciendis similique dicta explicabo! </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tl-item alt">
                                    <div class="tl-body">
                                        <div class="tl-entry">
                                            <div class="tl-time">2016 </div>
                                            <div class="tl-icon btn-icon-round btn-icon btn-icon-thin btn-danger"><i class="fa fa-check"></i></div>
                                            <div class="tl-content">
                                                <h4 class="tl-tile text-success">Odio sit odit necessitatibus</h4>
                                                <p>Ullam, commodi, modi, impedit nostrum odio sit odit necessitatibus accusantium enim voluptates culpa cupiditate cum pariatur a recusandae tenetur aspernatur at beatae. </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mission Section -->
        <div id="mission-section" class="ptb ptb-xs-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="block-title v-line mb-35 ">
                            <h2><span>Thought </span>Leaders</h2>
                            <p class="italic">Aenean suscipit eget mi act </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="about-block clearfix">
                            <div class="fl width-25per box-shadow mt-15 mb-xs-15">
                                <img class="img-responsive" src="../../assets/images/about-1.jpg" alt="Photo">
                            </div>
                            <div class="text-box pt-45 pb-15 pl-70 pl-xs-0 width-75per fl">
                                <div class="box-title">
                                    <h3>We Are On Mission</h3>
                                </div>
                                <div class="text-content">
                                    <p>
                                        Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit eget..
                  Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit eget
                                    </p>
                                    <p>
                                        Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit eget..
                  Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit eget
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="about-block mb-40  clearfix">
                            <div class="fr width-25per box-shadow-l mt-15 mb-xs-15">
                                <img class="img-responsive" src="../../assets/images/about-2.jpg" alt="Photo">
                            </div>
                            <div class="text-box text-right text-xs-left pt-45 pr-70 pr-xs-0 width-75per fl">
                                <div class="box-title">
                                    <h3>We Are On Mission</h3>
                                </div>
                                <div class="text-content">
                                    <p>
                                        Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit eget..
                  Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit eget
                                    </p>
                                    <p>
                                        Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit eget..
                  Aenean suscipit eget mi act fermentum phasellus vulputate turpis tincidunt. Aenean suscipit eget
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Partner Section -->
        <div id="partner-section" class="ptb ptb-xs-60 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <div class="block-title v-line mb-35 ">
                            <h2><span>Our</span> Partner</h2>
                            <p class="italic">Aenean suscipit eget mi act </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-12">
                        <ul class="logo-group">
                            <li class="partner-logo border-b">
                                <img src="../../assets/images/client-logo/1.png" alt="">
                            </li>
                            <li class="partner-logo border-b">
                                <img src="../../assets/images/client-logo/2.png" alt="">
                            </li>
                            <li class="partner-logo border-b">
                                <img src="../../assets/images/client-logo/3.png" alt="">
                            </li>
                            <li class="partner-logo border-b">
                                <img src="../../assets/images/client-logo/4.png" alt="">
                            </li>
                            <li class="partner-logo border-b border-r">
                                <img src="../../assets/images/client-logo/5.png" alt="">
                            </li>
                            <li class="partner-logo">
                                <img src="../../assets/images/client-logo/6.png" alt="">
                            </li>
                            <li class="partner-logo">
                                <img src="../../assets/images/client-logo/5.png" alt="">
                            </li>
                            <li class="partner-logo ">
                                <img src="../../assets/images/client-logo/6.png" alt="">
                            </li>
                            <li class="partner-logo">
                                <img src="../../assets/images/client-logo/5.png" alt="">
                            </li>
                            <li class="partner-logo border-r">
                                <img src="../../assets/images/client-logo/6.png" alt="">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
</html>

