@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>

    <!-- Site Wraper -->
    <div class="wrapper">

        <!-- Intro Section -->
        <section class="inner-intro bg-img19 light-color overlay-dark parallax parallax-background2" style="background-position: left 0px;">
            <div class="container">
                <div class="row title">
                    <h2 class="h2">Services</h2>
                    <div class="page-breadcrumb">
                        <a>Home</a>/<span>Services</span>
                    </div>
                </div>
            </div>
        </section>
        <!-- Intro Section -->
        <section class="course-section__block padding ptb-xs-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-9">
                        <div class="row">

                            <div class="col-lg-4 col-md-6 mb-30">
                                <div class="courses-block img-scale">

                                    <figure class="img__block">
                                        <img class="img-responsive" src="../../assets/images/img1.jpg" alt="courses">
                                    </figure>
                                    <div class="courses-content__block">
                                        <div class="class_time">Classes   <i class="fa fa-clock-o"></i>10 am - 11 am</div>
                                        <h3 class="item-title"><a href="#">Philosopphy</a></h3>
                                        <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                        <ul class="courses-info">

                                            <li class="courses-info__price"><strong class="color">$20.00  </strong></li>
                                            <li>
                                                <span><i class="fa fa-users"></i>200</span>
                                                <span class="heart_icon"><i class="fa fa-heart-o"></i></span>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb-30">
                                <div class="courses-block img-scale">

                                    <figure class="img__block">
                                        <img class="img-responsive" src="../../assets/images/img2.jpg" alt="courses">
                                    </figure>
                                    <div class="courses-content__block">
                                        <div class="class_time">Classes   <i class="fa fa-clock-o"></i>10 am - 11 am</div>
                                        <h3 class="item-title"><a href="#">IELTS</a></h3>
                                        <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                        <ul class="courses-info">

                                            <li class="courses-info__price"><strong class="color"><del class="mr-10">$50</del> $20.00  </strong></li>
                                            <li>
                                                <span><i class="fa fa-users"></i>200</span>
                                                <span class="heart_icon"><i class="fa fa-heart-o"></i></span>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb-30">
                                <div class="courses-block img-scale">

                                    <figure class="img__block">
                                        <img class="img-responsive" src="../../assets/images/img3.jpg" alt="courses">
                                    </figure>
                                    <div class="courses-content__block">
                                        <div class="class_time">Classes   <i class="fa fa-clock-o"></i>10 am - 11 am</div>
                                        <h3 class="item-title"><a href="#">Regular MBA</a></h3>
                                        <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                        <ul class="courses-info">

                                            <li class="courses-info__price"><strong class="color-green">FREE  </strong></li>
                                            <li>
                                                <span><i class="fa fa-users"></i>200</span>
                                                <span class="heart_icon"><i class="fa fa-heart-o"></i></span>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb-30">
                                <div class="courses-block img-scale">

                                    <figure class="img__block">
                                        <img class="img-responsive" src="../../assets/images/img4.jpg" alt="courses">
                                    </figure>
                                    <div class="courses-content__block">
                                        <div class="class_time">Classes   <i class="fa fa-clock-o"></i>10 am - 11 am</div>
                                        <h3 class="item-title"><a href="#">GMAT</a></h3>
                                        <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                        <ul class="courses-info">

                                            <li class="courses-info__price"><strong class="color">$20.00  </strong></li>
                                            <li>
                                                <span><i class="fa fa-users"></i>200</span>
                                                <span class="heart_icon"><i class="fa fa-heart-o"></i></span>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb-30">
                                <div class="courses-block img-scale">

                                    <figure class="img__block">
                                        <img class="img-responsive" src="../../assets/images/img1.jpg" alt="courses">
                                    </figure>
                                    <div class="courses-content__block">
                                        <div class="class_time">Classes   <i class="fa fa-clock-o"></i>10 am - 11 am</div>
                                        <h3 class="item-title"><a href="#">Philosopphy</a></h3>
                                        <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                        <ul class="courses-info">

                                            <li class="courses-info__price"><strong class="color">$20.00  </strong></li>
                                            <li>
                                                <span><i class="fa fa-users"></i>200</span>
                                                <span class="heart_icon"><i class="fa fa-heart-o"></i></span>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb-30">
                                <div class="courses-block img-scale">

                                    <figure class="img__block">
                                        <img class="img-responsive" src="../../assets/images/img2.jpg" alt="courses">
                                    </figure>
                                    <div class="courses-content__block">
                                        <div class="class_time">Classes   <i class="fa fa-clock-o"></i>10 am - 11 am</div>
                                        <h3 class="item-title"><a href="#">IELTS</a></h3>
                                        <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                        <ul class="courses-info">

                                            <li class="courses-info__price"><strong class="color"><del class="mr-10">$50</del> $20.00  </strong></li>
                                            <li>
                                                <span><i class="fa fa-users"></i>200</span>
                                                <span class="heart_icon"><i class="fa fa-heart-o"></i></span>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb-30">
                                <div class="courses-block img-scale">

                                    <figure class="img__block">
                                        <img class="img-responsive" src="../../assets/images/img3.jpg" alt="courses">
                                    </figure>
                                    <div class="courses-content__block">
                                        <div class="class_time">Classes   <i class="fa fa-clock-o"></i>10 am - 11 am</div>
                                        <h3 class="item-title"><a href="#">Regular MBA</a></h3>
                                        <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                        <ul class="courses-info">

                                            <li class="courses-info__price"><strong class="color-green">FREE  </strong></li>
                                            <li>
                                                <span><i class="fa fa-users"></i>200</span>
                                                <span class="heart_icon"><i class="fa fa-heart-o"></i></span>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-md-6 mb-30">
                                <div class="courses-block img-scale">

                                    <figure class="img__block">
                                        <img class="img-responsive" src="../../assets/images/img4.jpg" alt="courses">
                                    </figure>
                                    <div class="courses-content__block">
                                        <div class="class_time">Classes   <i class="fa fa-clock-o"></i>10 am - 11 am</div>
                                        <h3 class="item-title"><a href="#">GMAT</a></h3>
                                        <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                        <ul class="courses-info">

                                            <li class="courses-info__price"><strong class="color">$20.00  </strong></li>
                                            <li>
                                                <span><i class="fa fa-users"></i>200</span>
                                                <span class="heart_icon"><i class="fa fa-heart-o"></i></span>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-30">
                                <div class="courses-block img-scale">

                                    <figure class="img__block">
                                        <img class="img-responsive" src="../../assets/images/img3.jpg" alt="courses">
                                    </figure>
                                    <div class="courses-content__block">
                                        <div class="class_time">Classes   <i class="fa fa-clock-o"></i>10 am - 11 am</div>
                                        <h3 class="item-title"><a href="#">Regular MBA</a></h3>
                                        <p class="item-content">Rmply dummy text printing setting industry it’s free demo.</p>
                                        <ul class="courses-info">

                                            <li class="courses-info__price"><strong class="color-green">FREE  </strong></li>
                                            <li>
                                                <span><i class="fa fa-users"></i>200</span>
                                                <span class="heart_icon"><i class="fa fa-heart-o"></i></span>
                                            </li>

                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Pagination Nav -->
                        <div class="pagination-nav text-left mt-60 mtb-xs-30">
                            <ul>
                                <li><a href="javascript:avoid(0);"><i class="fa fa-angle-left"></i></a></li>
                                <li class="active"><a href="javascript:avoid(0);">1</a> </li>
                                <li><a href="javascript:avoid(0);">2</a> </li>
                                <li><a href="javascript:avoid(0);">3</a> </li>
                                <li><a href="javascript:avoid(0);"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--Sidebar-->
                    <div class="col-md-3 col-lg-3 mt-sm-60">
                        <div class="sidebar-widget">
                            <h4>Search</h4>
                            <div class="widget-search pt-15">
                                <input class="form-full input-lg" type="text" value="" placeholder="Search Here" name="search" id="wid-search">
                                <input type="submit" value="" name="email" id="wid-s-sub">
                            </div>
                        </div>
                        <div class="sidebar-widget">
                            <h4>ALL COURSES</h4>

                            <ul class="categories">
                                <li><a href="#"><i class="fa fa-chevron-right"></i>languages</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i>digital literacy</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i>business</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i>it skills</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i>health literacy</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i>photography</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i>spoken</a></li>
                            </ul>
                        </div>
                        <div class="sidebar-widget">
                            <h4>Course Type</h4>

                            <ul class="categories">
                                <li><a href="#"><i class="fa fa-chevron-right"></i>all</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i>paid</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i>free</a></li>
                            </ul>
                        </div>
                        <div class="sidebar-widget">
                            <h4>Course Certification</h4>

                            <ul class="categories">
                                <li><a href="#"><i class="fa fa-chevron-right"></i>diploma</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i>graduation</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i>post graduation</a></li>
                            </ul>
                        </div>


                        <div class="sidebar-widget">
                            <h4>latest courses</h4>

                            <ul class="widget-post pt-15">
                                <li><a class="widget-post-media">
                                    <img src="../../assets/images/blog/blog-small-img.jpg" alt="">
                                </a>
                                    <div class="widget-post-info">
                                        <h6><a href="#">Learning jQuery Mobile for Beginners</a></h6>
                                        <div class="post-meta">
                                            <strong class="color"><del class="mr-10">$58 </del>$20</strong>
                                        </div>
                                    </div>
                                </li>
                                <li><a class="widget-post-media">
                                    <img src="../../assets/images/blog/blog-small-img1.jpg" alt="">
                                </a>
                                    <div class="widget-post-info">
                                        <h6><a href="#">Learning jQuery Mobile for Beginners</a></h6>
                                        <div class="post-meta">
                                            <strong class="color">$20</strong>
                                        </div>
                                    </div>
                                </li>
                                <li><a class="widget-post-media">
                                    <img src="../../assets/images/blog/blog-small-img2.jpg" alt="">
                                </a>
                                    <div class="widget-post-info">
                                        <h6><a href="#">Learning jQuery Mobile for Beginners</a></h6>
                                        <div class="post-meta">
                                            <strong class="color-green">Free</strong>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-widget">
                            <h4>popular Tags</h4>

                            <ul class="widget-tag pt-15">
                                <li><a>Art</a> </li>
                                <li><a>Business</a> </li>
                                <li><a>Design</a> </li>
                                <li><a>Graphic</a> </li>
                                <li><a>fashion</a> </li>
                                <li><a>Model</a> </li>
                                <li><a>Photography</a> </li>
                            </ul>
                        </div>
                    </div>
                    <!--Sidebar-->
                </div>

            </div>
        </section>

    </div>
    <!-- Site Wraper End -->
</body>
</html>
