@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    color: #666;
    position: relative;
}

#lean_overlay {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
    cursor: pointer;
}

.popupContainer {
    position: relative;
    width: 500px;
    height: auto;
    left: 45%;
    top: 10px;
    background: #FFF;
}

#modal_trigger {
    display: block;
}

.btn {
    padding: 10px 20px;
    background: #F4F4F2;
    width: 385px;
}

.btn_red {
    background: #ED6347;
    color: #FFF;
}

.btn:hover {
    background: #E4E4E2;
}

.btn_red:hover {
    background: #C12B05;
}

a.btn {
    color: #666;
    text-align: center;
    text-decoration: none;
}

a.btn_red {
    color: #FFF;
}

.one_half {
    width: 50%;
    display: block;
    float: left;
}

    .one_half.last {
        width: 45%;
        margin-left: 5%;
    }

/* Popup Styles*/
.popupHeader {
    font-size: 16px;
    text-transform: uppercase;
}

.popupHeader {
    background: #FFF;
    position: relative;
    padding: 10px 220px;
    font-weight: bold;
}

    .popupHeader .modal_close {
        position: absolute;
        right: 0;
        top: 0;
        padding: 10px 15px;
        background: #FFF;
        cursor: pointer;
        color: #aaa;
        font-size: 16px;
    }

.popupBody {
    padding: 20px;
}

.haveaccount {
    position: relative;
    padding: 0 15px 0 56px;
    margin: 10px;
    font-size: 20px;
}

    .haveaccount a {
        color: blue;
    }

.signup {
    margin: 10px;
}

    .signup a {
        display: inline;
        color: blue;
        font-size: 20px;
        border: thin;
    }

.loginb {
     border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
    margin:18px;
    width:120px;
}

    .loginb a {
        text-decoration: none;
        color: #FFF;
        font-family: Verdana, sans-serif;
        text-align:center;
        font-size:20px;
       
    }

    .loginb:hover {
        background-color:#ff0033;
    }



.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.4em;
    padding: 0 15px 0 56px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

    .loginBtn:before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 34px;
        height: 100%;
    }

    .loginBtn:focus {
        outline: none;
    }

    .loginBtn:active {
        box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
    }


/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
    text-shadow: 0 -1px 0 #354C8C;
}

    .loginBtn--facebook:before {
        border-right: #364e92 1px solid;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
    }

    .loginBtn--facebook:hover,
    .loginBtn--facebook:focus {
        background-color: #5B7BD5;
        background-image: linear-gradient(#5B7BD5, #4864B1);
    }


/* Google */
.loginBtn--google {
    /*font-family: "Roboto", Roboto, arial, sans-serif;*/
    background: #DD4B39;
}

    .loginBtn--google:before {
        border-right: #BB3F30 1px solid;
        background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
    }

    .loginBtn--google:hover,
    .loginBtn--google:focus {
        background: #E74B37;
    }





.centeredText {
    text-align: center;
    margin: 10px 0;
    clear: both;
    overflow: hidden;
    text-transform: uppercase;
}

.action_btns {
    clear: both;
    overflow: hidden;
}

    .action_btns a {
        display: block;
    }

/* User Login Form */
/*.user_login {display: none;}*/
.user_login label {
    display: block;
}

.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {
    display: block;
    width: 90%;
    padding: 0px;
    border-bottom: 1px solid #DDD;
    color: #666;
}

.user_login input[type="checkbox"] {
    float: left;
    margin-right: 5px;
}

    .user_login input[type="checkbox"] + label {
        float: left;
    }

.user_login .checkbox {
    clear: both;
    overflow: hidden;
}

.forgot_password {
    display: block;
    margin: 20px 30px 10px;
    clear: both;
    overflow: hidden;
    text-decoration: none;
    color: #ED6347;
}

/* User Register Form */
.user_register {
    display: none;
}

    .user_register label {
        display: block;
        margin-bottom: 5px;
    }

    .user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {
        display: block;
        width: 90%;
        padding: 0px;
        border-bottom: 1px solid #DDD;
        color: #666;
    }

    .user_register input[type="checkbox"] {
        float: left;
        margin-right: 5px;
    }

        .user_register input[type="checkbox"] + label {
            float: left;
        }

    .user_register .checkbox {
        margin-bottom: 10px;
        clear: both;
        overflow: hidden;
    }
