

.dropbtn {
    border: 2px solid red;
    padding: 10px;
    border-radius: 25px;
    margin: 12px;
    width: auto;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
    background-color: inherit;
    font-family: Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
}

.dropbtn .i-block {
    padding: 3px;
}

   
.dropdown1 .dropbtn {
    cursor: pointer;
    font-size: 16px;
    outline: none;
   
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #ff0033;
}

.dropdown1 {
    position: relative;
    display: inline-block;
}

.dropdown1-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown1-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown1 a:hover {
    background-color: #f1f1f1;
}

.show {
    display: block;
}
